.brand_dls_1_0_0 {
    padding: 40px 0 20px 0;
    font-family: var(--primary-font);
    max-width: 85%;
    margin:0 auto;
    text-align: center;
    img{
        display: block;
        max-width: 100%;
    }
    &__content{
        margin:40px 0;
    }
    .controls li{
        background-color:#f2f2f2;
        background-repeat: no-repeat;
        background-position: center;
        width:50px;
        height:50px;
        transition: .3s;
        &:hover{
            opacity: .6;
        }
        &.prev{
            background-image: url(../images/icon-left.png);
            left:-11%;
        }
        &.next{
            background-image: url(../images/icon-right.png);
            right:-11%;
        }
    }
}
